* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background:  linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#container {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 280px;
  height: 320px;
  position: relative;
  user-select: none;
}

img,
canvas {
  border-radius: 10px;
}

#card:active {
  transform: scale(1.05);
}
